<% include partials/header %>
<div class="container">
    <h1>Welcome to NBA Search System by Mongodb</h1>

    <p>
        <a href="/mongoDB/teamPerformance">Get team performance by team and date</a>
    </p>    

</div>
<% include partials/footer %>