<% include partials/header %>
<div class="container">
    <h1>Welcome to NBA Search System by Mongodb</h1>

    <p>
        <a href="/mongoDB/dateStanding">Get date and team by the rank</a>
    </p> 

    <p>
        <a href="/mongoDB/playerPerformance">Get Player Performance</a>
    </p>

    <p>
        <a href="/mongoDB/playerContribution">Get Player Contribution</a>
    </p>
        
    <p>
        <a href="/mongoDB/teamPerformance">Get team performance by team and date</a>
    </p>    

    <p>
        <a href="/mongoDB/allStarRank">Get the team's highest rank after All Star</a>
    </p>

    <p>
        <a href="/mongoDB/playerHigestPerformance">Get the player's date, against and highest performance</a>
    </p>
    
    <p>
        <a href="/mongoDB/teamConfFirst">Get the first position's team of West or East</a>
    </p>

    <p>
        <a href="/mongoDB/playerStarter">Get player starter count</a>
    </p>

    <p>
        <a href="/mongoDB/teamBenchAvgTime">Get bench player, highest average time of the team</a>
    </p>

    <p>
        <a href="/mongoDB/teamAvgOT">Get all team's average OT's points</a>
    </p>

    <p>
        <a href="/mongoDB/playerPoints">Get player's weekly/monthly/seasonal average points</a>
    </p>
</div>
<% include partials/footer %>