<% include partials/header %>
<div class="container">
    <h1>Welcome to NBA Search System by Mongodb</h1>

    <p>
        <a href="/mongoDB/query1">Get date and team by the rank</a>
    </p> 

    <p>
        <a href="/mongoDB/query2">Get Player Performance</a>
    </p>

    <p>
        <a href="/mongoDB/query3">Get Player Contribution</a>
    </p>
        
    <p>
        <a href="/mongoDB/query4">Get team performance by team and date</a>
    </p>    

    <p>
        <a href="/mongoDB/query5">Get the team's highest rank after All Star</a>
    </p>

    <p>
        <a href="/mongoDB/query6">Get the player's date, against and highest performance</a>
    </p>
    
    <p>
        <a href="/mongoDB/query7">Get the first position's team of West or East</a>
    </p>

    <p>
        <a href="/mongoDB/query8">Get player starter count</a>
    </p>

    <p>
        <a href="/mongoDB/query9">Get bench player, highest average time of the team</a>
    </p>

    <p>
        <a href="/mongoDB/query10">Get all team's average OT's points</a>
    </p>

    <p>
        <a href="/mongoDB/query11">Get player's weekly/monthly/seasonal average points</a>
    </p>
</div>
<% include partials/footer %>