<% include partials/header %>
<div class="container">
    <table class="table">
        <tr>
            <th><%= time %></th>
            <th>Player</th>
            <th>Average Points</th>
        </tr>
        <% query.forEach(function(res) {%>
            <tr>
                <% if (time != "season") {%>
                    <td><%= res._id %></td>
                <% } %>
                <td><%= player %></td>
                <td><%= res. %></td>
            </tr>
        <%})%>
    </table>
    <a href="/mongodb" class="btn btn-primary">Go Back</a>
<div>
<% include partials/footer %>