<% include partials/header %>
<div class="container">
    <table class="table">
        <tr>
            <th>Player</th>
            <th>Average Points</th>
        </tr>
        <% query.forEach(function(res) {%>
            <tr>
                <td><%= player %></td>
                <%if (time == "month") {%> 
                    <td><%=res.monthlyPoints%></td>
                <%}%>
                <%if (time == "season") {%> 
                    <td><%=res.seasonalPoints%></td>
                <%}%>
            </tr>
        <%})%>
    </table>
    <a href="/mongodb" class="btn btn-primary">Go Back</a>
<div>
<% include partials/footer %>