<% include partials/header %>

<div class="container">
    <table class="table">
        <tr>
            <th>Team</th>
            <th>Average Points</th>
        </tr>
        <tr>
            <% query.forEach(function(res) { %>
                <td><%= res._id %></td>
                <td><%= res.avgPoints %></td>
            <% }) %>
        </tr>
    </table>
    <a href="/mongodb" class="btn btn-primary">Go Back</a>
</div>

<% include partials/footer %>