<% include partials/header %>
<div class="container">
    <table class="table">
        <tr>
            <th>1st of conf</th>
        </tr>
        <tr>
                <td><%=query.CHI %></td>
        </tr>
    </table>
    <a href="/mongodb" class="btn btn-primary">Go Back</a>
</div>
<% include partials/footer %>