<% include partials/header %>
<div class="container">
    <table class="table">
        <tr>
            <th>count of starter</th>
            <th>count of starter</th>
        </tr>
        <tr>
            <td><%=avgPoint %></td>
            <td><%=playDispNm %></td>
        </tr>
    </table>
    <a href="/mongodb" class="btn btn-primary">Go Back</a>
</div>
<% include partials/footer %>