<% include partials/header %>
<div class="container">
    <table class="table">
        <tr>
            <th>Team</th>
            <th>Average OT Points</th>
        </tr>
        <tr>
            <td><%= team %></td>
            <td><%= avgOTS %></td>
        </tr>
    </table>
    <a href="/mongodb" class="btn btn-primary">Go Back</a>
</div>
<% include partials/footer %>